.atlasHeader #globalNav_wide #CartBtn {
    left: 225px !important;
    width: 110px !important;
}

.atlasHeader #globalNav_wide #CartBtn a:link, .atlasHeader #globalNav_wide #CartBtn a:visited, .atlasHeader #globalNav_wide #CartBtn a {
    float: left !important;
}

#vidiewButton {
    border-radius: 50% !important;
    background: #78b9e7 !important;
}

#vidiewButton:hover {
    background: #98cffd !important;
}

#vidiewButton img {
    position: relative;
    left: 2px;
    padding: 11px;
    width: 50%;
    height: 50%;
}
